html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

p {
  margin: 0;
  margin-bottom: 1rem;
  cursor: default; }

a {
  text-decoration: none; }

main {
  padding-top: 6.5rem; }
  @media only screen and (min-width: 40rem) {
    main {
      padding-top: 4.25rem; } }

section {
  width: 100%;
  padding: .5rem .5rem;
  min-height: -moz-calc(100vh - 6.5rem);
  min-height: -webkit-calc(100vh - 6.5rem);
  min-height: calc(100vh - 6.5rem); }
  @media only screen and (min-width: 40rem) {
    section {
      padding: .5rem 1rem; } }
  @media only screen and (min-width: 40rem) {
    section {
      min-height: -moz-calc(100vh - 4.25rem);
      min-height: -webkit-calc(100vh - 4.25rem);
      min-height: calc(100vh - 4.25rem); } }

nav {
  font-family: 'LatoRegular', sans-serif; }

main {
  font-family: 'LatoRegular', sans-serif; }
  main h1 {
    font-size: 3.3rem;
    font-weight: 800; }
  main h2 {
    font-size: 2.7rem;
    font-weight: 800; }
  main h3 {
    font-size: 2.4rem;
    font-weight: 700; }
  main h4 {
    font-size: 2.1rem;
    font-weight: 600; }
  main h5 {
    font-size: 1.8rem;
    font-weight: 500; }
  main h6 {
    font-size: 1.5rem;
    font-weight: 400; }
  main p {
    font-family: 'LatoLight', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; }
    main p.short {
      line-height: 1.2; }
    main p.long {
      line-height: 1.5; }

#navbar {
  position: fixed;
  width: 100%;
  height: 6.5rem;
  border-bottom: 0.05rem solid #8d8d8d;
  background-color: #f8f8f8;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media only screen and (min-width: 40rem) {
    #navbar {
      height: 4.25rem;
      padding: 0 1rem;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between; } }
  @media only screen and (min-width: 64rem) {
    #navbar {
      padding: 0 4rem; } }

#logo {
  font-size: 3rem;
  color: #8d8d8d;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }
  @media only screen and (min-width: 40rem) {
    #logo {
      height: 100%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-align-items: center;
      align-items: center; } }
  #logo > * {
    position: relative;
    opacity: 0; }
  #logo > #chael {
    padding-right: .5rem; }

#menu {
  padding: 0;
  margin: 0 -0.5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly; }
  @media only screen and (min-width: 40rem) {
    #menu {
      height: 100%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-align-items: center;
      align-items: center; } }
  #menu > li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0.5rem; }
    #menu > li > a {
      color: #8d8d8d;
      font-size: 1.75rem; }
      @media only screen and (min-width: 40rem) {
        #menu > li > a {
          font-size: 2rem; } }

#underline {
  position: absolute;
  bottom: .5rem;
  height: .2rem;
  background-color: #66b3ff; }

#landing {
  background-color: #333333;
  color: #FCFCFC; }

#about {
  background-color: #666666;
  color: #FCFCFC; }

#projects {
  background-color: #999999;
  color: #FCFCFC; }

#contact {
  background-color: #CCCCCC;
  color: #333333; }

/*# sourceMappingURL=index.css.map */
