@import 'styles';
@import 'breakpoints';

#about {
    ol {
        list-style-type: none;
        text-align: left;

        > li {

        }
    }

    #rust {
        font-size: 3.3rem;
        margin-bottom: 2rem;
    }

    .code {
        &#rust::after { content: "::<T>"; }
        &#python::after { content: "()"; }
        &#javascript::after { content: "+[]"; }
        &#cpp::after { content: "->questionable_syntax_additions"; }
        &#java::after { content: ".excessivelyVerboseCoreAPI"; }

        &::after {
            position: absolute;
            color: $medium-gray;

            display: none;
            @include breakpoint(large) {
                display: inline-block;
            }
        }
    }
}
