@import 'styles';
@import 'breakpoints';

#about {
    ol {
        width: 75%;
        @include breakpoint(large) {
            width: 36rem;
        }
        margin-left: auto;
        margin-right: auto;

        list-style-type: none;
        text-align: left;

    }

    #rust {
        font-size: 3.3rem;
        margin-bottom: 2rem;
    }

    .code {
        &#rust::after { content: "::<T>"; }
        &#python::after { content: "()"; }
        &#cpp::after { content: "->questionable_syntax_additions"; }
        &#java::after { content: ".excessivelyVerboseCoreAPI"; }

        &::after {
            position: absolute;
            color: $medium-gray;

            display: none;
            @include breakpoint(large) {
                display: inline-block;
            }
        }
    }
}
