@import 'colors';
@import 'transitions';
@import 'breakpoints';

#contact {
    > .content-left > a {
        $a-height: 3.6rem;
        $a-border: 2px;

        display: grid;
        grid-template-columns: $a-height auto;
        grid-column-gap: -$a-border;

        position: relative;
        height: $a-height;
        border: $a-border solid;
        margin: 0 auto .6rem auto;

        width: 80%;
        @include breakpoint(small) {
            width: 60%
        }

        bottom: 0;
        box-shadow: none;
        color: $black;
        @include transition-multiple(bottom .2s ease, box-shadow .2s ease, color .2s ease);
        &:hover {
            bottom: 2px;
            box-shadow: -1px 2px 4px 0 $dark-gray;
            color: $dark-gray;
        }

        &#email { border-color: #9497CE; } // ProtonMail purple
        &#twitter { border-color: #1DA1F2; } // Twitter blue
        &#linkedin { border-color: #0077B5; } // LinkedIn blue
        &#github { border-color: #181717; } // GitHub black

        > img {
            $img-size: 2rem;

            height: $img-size;
            width: $img-size;

            grid-column: 1 / 2;
            align-self: center;
            justify-self: center;
        }
        > div {
            text-align: center;

            grid-column: 2 / 3;
            align-self: center;
            justify-self: center;
        }

        &#email {
            > div > span {
                display: none;
            }
        }
    }

    // font settings
    > .content-left > a {
        font-family: 'LatoBold', sans-serif;
        font-size: 1rem;
        @include breakpoint(small) {
            font-size: 1.2rem;
        }
        @include breakpoint(large) {
            font-size: 1.5rem;
        }
    }
}
