@import 'styles';

#landing {
    font: $title;
    color: $gray;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -100%);
    cursor: default;

    .liu {
        position: absolute;
    }
}
