@import 'styles';

#logo {
    font: $logo;
    color: $gray;
    display: inline-block;
    padding: 5.5px 0px;
    cursor: default;

    > * {
        opacity: 0; // hide logo during initial positioning while page loads
    }

    #chael {
        position: fixed;
    }

    #liu {
        position: relative;
    }
}
