@import 'globals';
@import 'styles';
@import 'breakpoints';

#navbar {
    position: fixed; // independent of scrolling
    width: 100%;
    @include breakpoint(minimum) {
        height: $navbar-height-minimum;
    }
    @include breakpoint(small) {
        height: $navbar-height;
    }
    z-index: 1;
    background-color: $light-gray;
    border-bottom: .05em solid $gray;

    // prevent text highlighting
    -webkit-touch-callout: none; // iOS Safari
    -webkit-tap-highlight-color: rgba(0,0,0,0); // WebKit
    -webkit-tap-highlight-color: transparent; // Android Chrome
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Microsoft Edge
            user-select: none; // Chrome and Opera
}

#logo {
    font: $logo;
    color: $gray;
    display: inline-block;
    padding: .1em .3em;

    > * {
        opacity: 0; // hide logo during initial positioning while page loads
    }

    > #chael {
        position: fixed;
        padding-right: .2em;
    }

    > #liu {
        position: relative;
    }
}

#menu {
    padding: 0;
    margin: 0;
    @include breakpoint(minimum) {
        position: static;
    }
    @include breakpoint(small) {
        position: absolute;
        padding-right: .9em; // equivalent to #logo's padding-left of .3em
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    > li {
        display: inline-block;
        list-style-type: none;
        margin-left: 1em;

        > a {
            font: $h1;
            color: $gray;
        }
    }
}
