@import 'styles';

#navbar {
    position: fixed; // independent of scrolling
    width: 100%;
    z-index: 1;
    background-color: $light-gray;
    border-bottom: .05em solid $gray;
}

#logo {
    font: $logo;
    color: $gray;
    display: inline-block;
    padding: .1em .3em;

    -webkit-touch-callout: none; // iOS Safari
    -webkit-tap-highlight-color: rgba(0,0,0,0); // WebKit
    -webkit-tap-highlight-color: transparent; // Android Chrome
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Microsoft Edge
            user-select: none; // Chrome and Opera

    > * {
        opacity: 0; // hide logo during initial positioning while page loads
    }

    > #chael {
        position: fixed;
        padding-right: .2em;
    }

    > #liu {
        position: relative;
    }
}
