$gray:          #8d8d8d;
$light-gray:    #f8f8f8;
$blue:          #66b3ff;
$light-blue:    #14dfff;
$black:         #333333;
$logo:          3.00rem 'Lato', sans-serif;
$h1:            2.00rem 'Lato', sans-serif;
$h2:            1.75rem 'Lato', sans-serif;
