/* One of the few things IE does right */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding-top: 68px;
    height: 2000px;
}

@import 'landing';
@import 'navbar';
