// one of the few things IE does right
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
    margin: 0; // why would it have a default margin, anyway?
}

a {
    text-decoration: none; // no underline
}

.section {
    width: 100%;
}

.section {
    height: 100vh; // to test scrolling
}

@import 'navbar';
@import 'landing';
@import 'about';
@import 'projects';
@import 'contact';
