$dark-gray:     #8d8d8d;
$gray:          #aeaeae;
$medium-gray:   #e8e8e8;
$light-gray:    #f8f8f8;
$blue:          #66b3ff;
$light-blue:    #14dfff;
$black:         #333333;
$white:         #FEFEFE;
