@import 'sizes';
@import 'colors';
@import 'flexbox';
@import 'transitions';
@import 'breakpoints';

// one of the few things IE does right
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin: 0; // why would it have a default margin, anyway?
    margin-bottom: 1rem;
}

a {
    text-decoration: none; // no underline
}

#navbar {
    position: fixed; // independent of scrolling
    width: 100%;

    height: $navbar-height-compact;
    @include breakpoint(medium) {
        height: $navbar-height;
        padding: 0 2rem;
        @include display-flex();
        justify-content: space-between;
    }
    @include breakpoint(large) {
        padding: 0 6rem;
    }
    border-bottom: .05rem solid $dark-gray;
    background-color: $light-gray;
    z-index: 1;

    // prevent text highlighting
    -webkit-touch-callout: none; // iOS Safari
    -webkit-tap-highlight-color: rgba(0,0,0,0); // WebKit
    -webkit-tap-highlight-color: transparent; // Android Chrome
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Microsoft Edge
            user-select: none; // Chrome and Opera

    a {
        color: $dark-gray;
        @include transition-multiple(color .2s ease);
        &:hover {
            color: $gray;
        }
    }

    > #logo {
        font-size: $logo;

        @include display-flex();
        @include justify-content(center);
        @include breakpoint(medium) {
            height: 100%;
            @include display-inline-flex();
            @include align-items(center);
        }

        > noscript {
            position: absolute;
        }

        > #mi, > #chael, > #liu {
            position: relative;
            opacity: 0; // hide logo during initial positioning while page loads
        }

        > #chael {
            padding-right: .76rem; // width of a space character
        }
    }

    > #menu {
        $medium-spacing: .5rem;
        $large-spacing: 1rem;

        padding: 0;
        margin: 0 -#{$medium-spacing};
        @include breakpoint(large) {
            margin: 0 -#{$large-spacing};
        }

        @include display-flex();
        @include justify-content(space-evenly);
        @include breakpoint(medium) {
            height: 100%;
            @include display-inline-flex();
            @include align-items(center);
        }

        > li {
            display: inline-block;
            list-style-type: none;
            margin: 0 #{$medium-spacing};
            @include breakpoint(large) {
                margin: 0 #{$large-spacing};
            }

            > a {
                font-size: $nav-button-small;
                @include breakpoint(medium) {
                    font-size: $nav-button-large;
                }
            }
        }
    }
}

main {
    // space for navbar
    padding-top: $navbar-height-compact;
    @include breakpoint(medium) {
        padding-top: $navbar-height;
    }

    p {
        margin: 0 auto;

        &.short {
            text-align: left;
            max-width: 24rem;
        }
        &.long {
            text-align: left;
            max-width: 40rem;
        }
    }
}

// font settings
#navbar {
    font-family: 'LatoRegular', sans-serif;
}
main {
    h1, h2, h3, h4, h5, h6 { font-family: 'LatoRegular', sans-serif; }
    h1 { font-size: 3.3rem; font-weight: 800; }
    h2 { font-size: 2.4rem; font-weight: 800; }
    h3 { font-size: 2.1rem; font-weight: 700; }
    h4 { font-size: 1.8rem; font-weight: 600; }
    h5 { font-size: 1.5rem; font-weight: 500; }
    h6 { font-size: 1.2rem; font-weight: 400; }

    .header {
        font-family: 'LatoRegular', sans-serif;
        font-weight: 400;

        .title {
            font-size: 1.7rem;
        }

        .subtitle {
            font-size: 1.6rem;
        }
    }

    font-family: 'LatoLight', sans-serif;
    font-size: 1.5rem; font-weight: 400;

    p {
        &.short {
            font-size: .9rem;
            line-height: 1.2;
        }
        &.long {
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }

    .code {
        font-family: 'FiraMonoRegular', monospace;
    }
}
