@import 'sizes';
@import 'colors';
@import 'flexbox';
@import 'transitions';
@import 'breakpoints';

// one of the few things IE does right
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a { text-decoration: none; }
p > a {
    &:link    { color: $dark-blue; }
    &:visited { color: $dark-blue; }
    &:hover   { text-decoration: underline; }
    &:active  { color: $blue; }
}

#navbar {
    position: fixed; // independent of scrolling
    width: 100%;

    height: $navbar-height-compact;
    @include breakpoint(medium) {
        height: $navbar-height;
        padding: 0 2rem;
        @include display-flex();
        justify-content: space-between;
    }
    @include breakpoint(large) {
        padding: 0 6rem;
    }
    border-bottom: .05rem solid $gray;
    background-color: $white;
    z-index: 12;

    // prevent text highlighting
    -webkit-touch-callout: none; // iOS Safari
    -webkit-tap-highlight-color: rgba(0,0,0,0); // WebKit
    -webkit-tap-highlight-color: transparent; // Android Chrome
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Microsoft Edge
            user-select: none; // Chrome and Opera

    a {
        color: $dark-gray;
        @include transition-multiple(color .2s ease);
        &:hover {
            color: $gray;
        }
    }

    > #logo {
        @include display-flex();
        @include justify-content(center);
        @include breakpoint(medium) {
            height: 100%;
            @include display-inline-flex();
            @include align-items(center);
        }

        > noscript {
            position: absolute;
        }

        > #mi, > #chael, > #liu {
            position: relative;
            opacity: 0; // hide logo during initial positioning while page loads
        }

        > #chael {
            padding-right: .76rem; // width of a space character
        }
    }

    > #menu {
        $medium-spacing: .5rem;
        $large-spacing: 1rem;

        padding: 0;
        margin: 0 -#{$medium-spacing};
        @include breakpoint(large) {
            margin: 0 -#{$large-spacing};
        }

        @include display-flex();
        @include justify-content(space-evenly);
        @include breakpoint(medium) {
            height: 100%;
            @include display-inline-flex();
            @include align-items(center);
        }

        > li {
            display: inline-block;
            list-style-type: none;
            margin: 0 #{$medium-spacing};
            @include breakpoint(large) {
                margin: 0 #{$large-spacing};
            }
        }
    }
}

main {
    // space for navbar
    padding-top: $navbar-height-compact;
    @include breakpoint(medium) {
        padding-top: $navbar-height;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.5rem;
    }

    p {
        margin: 0 auto;
        + p {
            text-indent: 1em;
        }

        text-align: left;
    }
}

// font settings
#navbar {
    font-family: 'Oxygen', sans-serif;

    > #logo {
        font-size: 3rem;
    }

    > #menu > li > a {
        font-size: 1.75rem;
        @include breakpoint(medium) {
            font-size: 2rem;
        }
    }
}
main {
    h1, h2, h3, h4, h5, h6 { font-family: 'Oxygen', sans-serif; }
    h1 { font-size: 3.3rem; font-weight: 700; }
    h2 { font-size: 2.4rem; font-weight: 500; }
    h3 { font-size: 2.1rem; font-weight: 500; }
    h4 { font-size: 1.8rem; font-weight: 450; }
    h5 { font-size: 1.5rem; font-weight: 450; }
    h6 { font-size: 1.2rem; font-weight: 400; }

    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem; font-weight: 300;

    p {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .code {
        font-family: 'Oxygen Mono', monospace;
    }
}
