$navbar-height: 4.25rem;         // normal navbar height
$navbar-height-compact: 6.50rem; // navbar height for medium breakpoint

$logo:             3.00rem;
$nav-button-large: 2.00rem; // normal button size
$nav-button-small: 1.75rem; // button size for medium breakpoint
