$navbar-height: 4.25rem;         // normal navbar height
$navbar-height-compact: 6.50rem; // navbar height for medium breakpoint

// breakpoint-related sizes
$small:  27rem;
$medium: 40rem;
$large:  64rem;
