@import '../sitewide/colors';
@import '../sitewide/breakpoints';

#about {
    #rust {
        margin-top: -.3rem;
    }

    // font settings
    .code { font-size: 1.45rem; }
    #rust { font-size: 3.3rem; }
}
