@import '../sitewide/sizes';
@import '../sitewide/colors';
@import '../sitewide/transitions';
@import '../sitewide/flexbox';
@import '../sitewide/breakpoints';

nav {
    > #underline {
        position: absolute;
        bottom: .5rem;
        height: .2rem;
        background-color: $blue;
    }
}
