@import '../sitewide/sitewide';

@import '../sitewide/sizes';
@import '../sitewide/calc';
@import '../sitewide/breakpoints';

main {
    $side-padding: 1.5rem;

    margin: 0 auto;
    @include calc(max-width, '48rem + (2 * #{$side-padding})');

    // can't use shorthand here because padding-top is defined
    // in _sitewide.scss to make room for the navbar
    padding-left: $side-padding;
    padding-right: $side-padding;

    > h1 {
        margin-bottom: 0;
    }

    > nav {
        > h2 {
            margin-bottom: .6rem;
        }
        > ol {
            margin-top: 0;
            padding-left: 3rem;
        }
    }

    > section {
        > figure {
            margin: 1rem 1.5rem;

            > img {
                width: 100%;
            }
            > figcaption {
                text-align: justify;
            }
        }
    }
}

// font settings
main {
    > h1 + time {
        font-family: 'Oxygen', sans-serif;
        font-style: italic;
        font-size: 1.2rem; font-weight: 300;
    }
    > section {
        > figure {
            > figcaption {
                font-family: 'Oxygen', sans-serif;
                font-size: 1.1rem; font-weight: 300;
                line-height: 1.2;
            }
        }
    }
}
