@import '../sitewide/sitewide';

@import '../sitewide/sizes';
@import '../sitewide/calc';
@import '../sitewide/breakpoints';

main {
    $side-padding: 1.5rem;

    margin: 0 auto;
    @include calc(max-width, '48rem + (2 * #{$side-padding})');

    // can't use shorthand here because padding-top is defined
    // in _sitewide.scss to make room for the navbar
    padding-left: $side-padding;
    padding-right: $side-padding;

    > h1 {
        margin-bottom: 0;
    }

    > section {
        > img {
            max-width: 100%;
        }
    }
}

// font settings
main {
    > h1 + time {
        font-family: 'LatoThinItalic', sans-serif;
        font-size: 1.2rem;
    }
}
